* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* class selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 1rem;
    background-color: #000000;
    color: #000000;
}

aside {
    width: 20em;
    text-align: center;
}

main img {
    /* you most likely will have other CSS declarations  here*/
    float: right;
}